*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400vh;
    width: 100vw;
    height: 130vh;
    background-image:
      radial-gradient(
        circle at bottom center,
        #1698F4,
        #2b72b1 30%
      );  
}

h3{
    font-size: 20px;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
}

h2{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    margin-top: 10px;
    color: aqua;
    text-shadow: 0px 0px 6px black;
}

.acerca_de{
    width: 100vw;
  }

.acerca_de p{
    font-size: clamp(1rem,1vw,1.8rem);
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    text-align: justify;
    text-justify: center;
    padding: 5px;
    margin: 0;
    width:fit-content;
    height: fit-content;
    overflow: hidden;
  }

.content-all{
    width: 210px; 
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 25px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure{
    width: 35vh;   
    height: 35vh;  
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5); 
    transition: all 300ms;    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(45deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(90deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(135deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(180deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(225deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(270deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(315deg) translateZ(300px);}  
.content-carrousel figure:nth-child(9){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}

.button-popcorn {
    background-color: #0078d0;
    border: 0;
    height: 8vh;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-popcorn:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  
  .button-popcorn:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }

  .image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay > * {
    transform: translateY(20px);  
     transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(-25px);
}

.image__title {
    font-size: 1em;
    font-weight: bold;
}

.image__description {
    font-size: 0.75em;
    margin-top: 0.25em;
    text-align: center;
}

@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

@media screen and (max-width: 1020px){   
    .content-all{
        width: 50vw; 
    }
    
    .content-carrousel{
        width: 100vw;
    }
    .image__overlay {
        width: 30%;
        height: 30%;
    }

    .content-carrousel figure{
        width: 10vw;   
        height: 10vh;          
    }

   .button-popcorn {
        padding: 4px 8px;
      }
}

@media screen and (max-width: 767px){   
    .content-all{
        height:300px;
    }   
    .content-carrousel figure{
        width: 25vh;   
        height: 25vh;  
        margin-top: 45px;        
    }
    .button-popcorn {
        padding: 16px 48px;
      }
}

@media screen and (max-width: 360px) {
   body{
        background-position: center;
        background-repeat: no-repeat;
        background-size: 130vh;
        width: 100vw;
        height: 720px; 
    }
    
    p {
        width: 340px;
        font-size: clamp(1rem,1vw,1.8rem);
    }

    h2{
        text-align: center;
        font-size: 20px;
    }    
    .content-all{
        height: 300px;     
    }   
    .content-carrousel figure{
        width: 25vh;   
        height: 25vh;  
        margin-top: 45px;        
    }
    .image__title {
        font-size: 0.65em;        
    }
    
    .image__description {
        font-size: 0.45em;
        margin-top: 0.25em;
    }
    .button-popcorn {
        padding: 16px 21px;
      }
  }

  