body{
    background-image: url(../assets/img/contacto-background.jpg); 
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
}

.bigicon {
    font-size: 28px;
    color: #36A0FF;
}

form{
    width: 60%;
    margin: auto;
    margin-top: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

main{
    justify-content: center;
    color: rgba(0, 0, 0, 0.8);
    margin: 8px;

}
.fondo-modal{background-image: url(../assets/img/gafas-3d.jpg);
    margin: 0;
    background-position: center;
    background-size: cover;
    color: #98A7B2;
border-radius: 5px;
}
.titulo-modal{color: white;}
.boton-cerrar{background-color: #9398c9;
    border-radius: 5px;}
.boton-guardar{background-color: #9398c9;
        border-radius: 5px;}
        .check-destacada{color: black;}
        .check-publicada{color: black;}
    .boton_ingre_peli{background-color: #806104;}
     #isFeatured1{background-color: #9398c9;
        border-color: #E1B890; }
    #isPublished1{background-color: #9398c9;
        border-color:#E1B890;
}
