
.search{
    position: relative;
    padding: 5px;
}

.search input{
    position: relative;
    width: 0px;
    height: 40px;
    padding: 0;
    font-size: 16px;
    background: white;
    border:none;
    color: #000;
    outline: none;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.search input:hover{
    position: relative;
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    background: white;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 3px;
    transition: all 0.8s ease;
}



.btn-search button{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.5em;
    background: rgba(0,0,0,0);
    width: 50px;
    height: 50px;
    line-height: auto;
    text-align: center;
    color: white;
    font-size: 17px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.btn-search button:hover{
    position: absolute;
    background: none;
    width: 50px;
    height: 50px;
    line-height: auto;
    text-align: center;
    color: black;
    font-size: 17px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.btn-search i{
    display: flex;
    justify-content: center;
}

.search:hover input{
   width: 13em;
   height: 2.1em;
}

.search input:focus{
    width: 13em;
    height: 2.1em;
}

.li-box{
    position: absolute;
    background: white;
    border-color: silver;
    border-bottom: rgb(87, 86, 86);
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    list-style: none;
    padding: 0.25em 4em 0.25em 4em;
    margin-top: 1em;
    font-size: 16px;
    color: #000;
    outline: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: all 0.5s ease;
}
