.navbar{
  background: linear-gradient(180deg, rgba(0,0,0,1) 31%, rgba(0,0,0,0.6561975131849616) 66%, rgba(43,114,177,0) 100%);
  text-shadow: 4px 4px 6px rgb(0 0 0 / 80%);
}
.collapse{
  align-items: center;
  margin-left: 25%;
}
.navbar-toggler-icon{
  background-color: rgba(252,252,252,0.5);
  border-radius: 20%;
}
.carousel-item{
  height: 50vh;
}

nav img {
  width: 3em;
  height: 3em;
}

.navbar-brand {
  font-family: "Bauhaus 93"; src: url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.eot"); src: url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.woff") format("woff"), url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.svg#Bauhaus 93") format("svg"); 
  text-shadow: none;
}


