body {
  background-image: url(/assets/img/pagina-de-registro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.navbar{
  background-color: black;
  opacity: 0.9;
}
.collapse{
  align-items: center;
  margin-left: 25%;
}
.navbar-toggler-icon{
  background-color: white;
  border-radius: 20%;
}
.carousel-item{
  height: 50vh;
}
.form-general{
  padding-top: 15px;
  padding-left: 15%;
}
.form-de-registro {
  align-items: center;
  padding-top: 5%;
  color: white;
}

@media screen and (max-width: 800px){
  .form-general{
    padding: 15px 5px 15px 5px; 
  }
}