body {
  background-image: url(/assets/img/pagina-de-registro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body::before{
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0%;
  left: 0;
  background: linear-gradient(90deg, rgb(43, 114, 177), #55a6b8 );
  opacity: 0.7;
  z-index: -1;
}

.navbar{
  background-color: black;
  opacity: 0.9;
}
.collapse{
  align-items: center;
  margin-left: 25%;
}
.navbar-toggler-icon{
  background-color: white;
  border-radius: 20%;
}
.carousel-item{
  height: 50vh;
}
.form-general{
  padding-top: 15px;
  padding-left: 15%;
}
.form-de-registro {
  align-items: center;
  padding-top: 5%;
  color: white;
}

@media screen and (max-width: 800px){
  .form-general{
    padding: 15px 5px 15px 5px; 
  }
}