footer{
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #212121;
    color: white;
    width: 100%;
    bottom: 0;
}

body{
    margin: 0;
}

.container-footer-all{
    max-width: 1200px;
    margin: 0;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
    height: 200px;

}

.column1{
    max-width: 400px;
}

.column1 h1{
    font-size: 22px;
}

.column1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.column1 img{
    width: 200px;
    height: auto;
} 

.column2{
    max-width: 400px;
}

.column2 h1 {
    font-size: 22px;
}

.column2 #redes{
    display: flex;
    width: max-content;
    margin: 40px;
    justify-content: space-between;
}

.row {
    margin-top: 2px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
    padding: 0px;
    margin: 0px;
    display: row;    
}

.row a {
    margin-top: 10px;
    margin-left: 10px;
    color: #c7c7c7;
}

.row img:hover {
    transform: scale(1.1);
  }

  .column2 img:hover {
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.8s;
}

.column3 {
    max-width: 400px;
}

.column3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 a {
    margin-left: 20px;
    max-width: 150px;
    margin-top: 10px;
}

.container-footer{
    max-width: 100vw;
    background: #000000;    

}

.footer2 {
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;    

}

.copyright{
    color: #c7c7c7;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information {
    text-decoration: none;
    color: #c7c7c7;
}


@media screen and (max-width: 1100px) {
    .container-body{
        flex-wrap: wrap;
        justify-content: space-around;
    }    
    .column1{
        max-width: 100%;
    }
    .column2,
    .column3{
        margin-top: 40px;
    }
}

@media screen and (max-width: 715px) {
    .column2,
    .column3{
        margin-top: 40px;
    }
}

