.row img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 15px #FFFFFF;
    -webkit-box-shadow: 0px 0px 15px 15px #4390B5;
    transition: all 0.8s;
  }

.copyright-legal{
	background-color: #181a1d;
  }

.bg-elegir {
  background: #000000;
}